version: "3.2"
services:
  api:
    image: flask_api
    container_name: ml_api
    build:
      context: ./api
    command: "gunicorn --workers=8 --bind 0.0.0.0:5000 app:app"
    ports:
      - "80:5000"
    environment:
      - FLASK_DEBUG=1
    depends_on:
      - redis
      - model
    volumes:
      - ./feedback:/src/feedback
    tty: true
    logging:
      driver: "gelf"
      options:
        gelf-address: "udp://localhost:12201"
        tag: "api-logs"

  redis:
    image: redis:5.0.6

  model:
    image: ml_service
    container_name: ml_service
    build:
      context: ./model
    command: "python3 /src/ml_service.py"
    depends_on:
      - redis
